.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container-light {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
}

.main {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    padding: 30px;
    border-radius: 40px;
    position: relative;
}

.input-container {
    position: relative;
    width: 100%;
}

.imagem {
    margin-bottom: 30px;
    width: 100px;
    height: 100px;
}

.campo-email, .campo-senha {
  border: none;
  border-bottom: 2px solid #eee;
  background-color: transparent;
  outline: none;
  width: 200px;
  color: #eee;
}

.email-error-login, .senha-error-login {
  visibility: hidden;
  color: red;
  position: absolute;
  bottom: 210px;
  margin-right: 30px;
}

.senha-error-login {
  bottom: 140px;
  margin-right: 80px;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25%, 75% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
}

.email-error-login.show,
.senha-error-login.show {
  visibility: visible;
  animation: shake 0.5s ease forwards;
}

.campo-email {
    margin-bottom: 50px;
}

.campo-email:focus, .campo-senha:focus {
    border-bottom: 2px solid #CF0A0A;
}

.botao-login {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 300px;
    height: 35px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    transition: background-color 0.3s ease;
}

.botao-login:hover {
  background-color: #CF0A0A;
  color: black;
}

.links-login {
    display: flex;
    margin-top: 40px;
}

.link-criarLogin {
    margin-right: 15px;
    color: #CF0A0A;
    transition: color 0.3s ease;
    text-decoration: none;
}

.link-redefinirSenha {
    margin-left: 15px;
    color: #CF0A0A;
    transition: color 0.3s ease;
    text-decoration: none;
}

.link-criarLogin:hover, .link-redefinirSenha:hover {
  color: #eee;
}