.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    padding: 30px;
    border-radius: 40px;
    position: relative;
} 

.voltarEtapa {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #CF0A0A;
  cursor: pointer;
}

.voltarEtapa:hover {
  color: #eee;
}

.registro-titulo {
  color: #eee;
}

.mensagem-container {
  max-width: 400px;
  margin-top: 25px;
  line-height: 23px;
}

.mensagem-motivacional {
  font-size: 19px;
  color: #CF0A0A;
}

.input-senha, .input-confirmarSenha, .input-nome, .input-email,
.input-idade, .input-peso, .input-altura, .input-sexo, 
.input-objetivo, .input-condicionamento, .input-frequencia,
.input-chave {
  margin-top: 40px;
  border: none;
  border-bottom: 2px solid #eee;
  background-color: transparent;
  outline: none;
  width: 200px;
  color: #eee;
}

.input-senha:focus, .input-confirmarSenha:focus, .input-nome:focus,
.input-email:focus,.input-idade:focus, .input-peso:focus, 
.input-altura:focus, .input-sexo:focus, .input-objetivo:focus, 
.input-condicionamento:focus, .input-frequencia:focus,
.input-chave:focus {
  border-bottom: 2px solid #CF0A0A;
}

.botao-registro {
  margin-top: 40px;
  width: 250px;
  height: 30px;
  border-radius: 10px;
  font-size: 15px;
  border: none;
  transition: background-color 0.3s ease;
}

.botao-registro:hover {
  background-color: #CF0A0A;
  color: black;
}

.email-error, .senha-error, .confirmarSenha-error, .nome-error,
.email-error-user, .idade-error, .peso-error, .altura-error,
.sexo-error, .objetivo-error, .condicionamento-error,
.frequencia-error, .chave-error {
  visibility: hidden;
  color: red;
  position: absolute;
  bottom: 251px;
  margin-right: 30px;
}

.senha-error, .peso-error, .condicionamento-error {
  bottom: 193px;
}

.senha-error {
  margin-left: 100px;
}

.confirmarSenha-error, .altura-error, .frequencia-error {
  bottom: 138px;
}

.altura-error, .idade-error {
  margin-left: 65px;
}

.nome-error, .sexo-error, .chave-error {
  bottom: 80px;
}

.peso-error {
  margin-left: 60px;
}

.condicionamento-error {
  bottom: 193px;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25%, 75% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
}

.email-error.show,
.senha-error.show, .confirmarSenha-error.show, .nome-error.show,
.email-error-user.show, .idade-error.show, .peso-error.show,
.altura-error.show, .sexo-error.show, .objetivo-error.show,
.condicionamento-error.show, .frequencia-error.show, .chave-error.show {
visibility: visible;
animation: shake 0.5s ease forwards;
}

@media (max-width:400px) {
  .senha-error {
    bottom: 178px;
  }
}

@media (max-width:300px) {
  .idade-error {
    bottom: 234px;
  }

  .peso-error {
    bottom: 177px;
  }

  .altura-error {
    bottom: 120px;
  }
}