.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
  
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}
  
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.adicionar-titulo, .adicionar-nome, .meusPlanos-titulo {
  margin-bottom: 10px;
}

.criarPlano {
  margin-bottom: 10px;
}

.planosExistentes {
  margin-right: 10px;
}

.container-exercise-list {
  margin: auto;
  max-width: 1300px;
}

.section-titulo-partes {
  display: flex;
  margin-top: 20px;
}

.titulo-exercise-list {
  margin-right: 20px;
}

.select-exercise-list {
  height: 30px;
  margin-top: 7px;
  background-color: #555;
  color: #fff;
  border-radius: 5px;
}

.parteDoCorpo {
  margin-bottom: 10px;
  margin-top: 10px;
}

.listaDosExercicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.exercicios {
  display: flex;
}

.exerciciosNumero, .exerciciosNome, .exerciciosEquipamento
, .exerciciosAlvo {
  margin-bottom: 20px;
}

.exerciciosImagem {
  width: 250px;
  border-radius: 30px;
  opacity: 0.5;
}

.container-meusPlanos {
  margin: auto;
  max-width: 1300px;
}

.meus-planos {
  display: flex;
  list-style-type: none;
}

.meusPlanosTitulo {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.meusPlanosLista {
  margin-left: 10px;
}

.MeusPlanosBotaoVoltarList {
  margin-bottom: 10px;
}

.MeusPlanosPlano {
  margin-bottom: 10px;
}

.MeusPlanosBotaoVoltarList {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.planos-existentes {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.planos-existentes:hover, .MeusPlanosBotaoVoltarList:hover {
  background-color: #ff5555;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pagination-buttons-baixo {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.botao-proximo, .botao-voltar {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.botao-proximo:hover, .botao-voltar:hover {
  background-color: #ff5555;
}

.botao-proximo:disabled, .botao-voltar:disabled {
  background-color: desaturar(corPrincipal, 30%); /* Desatura a cor principal em 30% */
  color: #555;
  cursor: not-allowed;
}

.botao-proximo:disabled:hover, .botao-voltar:disabled:hover {
  background-color: transparent;
  cursor: not-allowed;
}

.botao-proximo {
  margin-left: 15px;
}

.botao-voltar {
  margin-right: 15px;
}

.exerciciosBotao {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.exerciciosBotao:hover {
  background-color: #ff5555;
}

.semPlanos {
  font-size: 22px;
  margin-left: 10px;
}

.linkPlano {
  color: #CF0A0A;
  text-decoration: none;
}

.linkPlano:hover {
  text-decoration: underline;
}

@media (max-width:1156px) {
  .listaDosExercicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

@media (max-width:850px) {
  .listaDosExercicios {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }

  .exercicios {
    margin: auto;
  }
}