* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-app{
    display: flex;
  }
  
  .header {
    
  }
  
  /* Estilos para o menu */
  .menu {
    background-color: black;
    padding: 10px;
  }
  
  /* Estilos para as rotas */
  .routes {
    flex: 1;
    overflow-y: auto;
  }
  