* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-app {
  display: flex;
  flex-direction: column;
  background: url("./images/Academia.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}
  
.routes {
    flex: 1;
    overflow-y: auto;
}